/*
    Modificar tamaño de contenido
*/

.casillas {
    display: grid;
    border: solid 1px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    height: 80px;
    border-color: #f6f6f6;
    grid-template-columns: 7;
}

#solicitud {
    text-align: justify;
    margin: 50px 150px;
}

#info {
    grid-column: 1/6;
    cursor: pointer;
}

#aprobar {
    cursor: pointer;
    grid-column: 6;
    background: rgb(108, 29, 69);
    border: solid 1px rgb(108, 29, 69);
    color: white;
    border-radius: 7px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aprobar:hover {
    background: #45122C;
}

#aprobarN {
    cursor: pointer;
    grid-column: 6;
    background: rgb(108, 29, 69);
    border: solid 1px rgb(108, 29, 69);
    color: white;
    border-radius: 7px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aprobarN:hover {
    background: #45122C;
}
#rechazar {
    grid-column: 7;
    background: white;
    cursor: pointer;
    border: solid 1px #CCCCCC;
    border-radius: 7px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rechazar:hover {
    background: #CCCCCC;
}

#info_g {
    margin-top: 80px;
}

.informacion {
    display: grid;
    grid-template-rows: 8;
    border: solid 1px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    height: 350px;
    border-color: #f6f6f6;
}

#especialidad {
    grid-row: 1;
    /*background: red;*/
}

#curriculum {
    grid-row: 2/8;
    border: solid 1px #f6f6f6;
    /*background: green;*/
}