/* 
    Created on : 22/11/2018, 11:27:17 PM
    Author     : Zeth
*/
#barra {
    height: 70px;
    background: rgb(108,29,69);
}

#imagen{
    margin-top: 80px;
    width: 250px;
}

#contenido {
    margin-top: 50px;
    height: 1000px;
}

#cerrar{
    float: right;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

h1{
    text-align: center;
}

.observaciones{grid-area: obs}
.estadisticas{grid-area: est }
.expediente{grid-area: exp }
.recomendacion{grid-area: rec }
.dieta{grid-area: die }
.historial{grid-area: his }

.grid-container{
    display: grid;
    grid-template-areas:
    'rec rec rec rec rec die'
    'est est est obs obs die'
    'exp exp exp exp exp die'
    'his his his his his his';
    grid-gap: 5px;
    background-color: #F2F2F2;
    padding: 5px;
    margin-top: 50px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255);
  text-align: center;
  padding: 20px 0;
}

.recomendacion{
    height: 150px;
}

.contenido-E{
    padding: 50px;
}


