/* 
    Created on : 11/11/2018, 08:55:00 PM
    Author     : Zeth
*/
/*Barra Inicio de sesión*/

#login {
    height: 70px;
    background: rgb(108,29,69);
}

#login form {
    float: right;
    margin-top: 8px;
}

input {
    width: 32%;
}

#login form p {
    margin-top: 5px;
}

#login input {
    border: none;
    padding: 6px;
    border-radius: 2px;
}

.boton {
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 30px;
    background-color: rgb(108,29,69);
    cursor: pointer;
}

.boton:hover{
    background: rgb(255,255,255,0.5);
    -moz-transition: 0.5s;
}

.hiperlogin{
    color: white;
    font-size: 14px;
    padding: 4px 10px 0px 0px;
}

.hiperlogin a:hover{
    color: #F5A9A9;
}

/*Estilos Slider principal*/

#contenido {
    height: 500px;
}

#imagen{
    width: 550px;
    float: right;
}

#contenido #banner {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#contenido #bienvenido {
    font-size: 40px;
}

#bienvenido{
    margin-top: 50px;
    padding: 100px 0px 0px 0px;
}

#texto{
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
}

#leer {
    text-align: center;
    margin-top: 50px;
    width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    color: black;
    font-size: 20px;
}

#leer:hover{
    background: rgb(0,0,0,0.3);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

/*Error*/

.error {
         color: #ff0000;
      }

.errorblock {
 color: #000;
 background-color: #ffEEEE;
 border: 3px solid #ff0000;
 padding: 8px;
 margin: 16px;
}

#btnResponsive{
    display: none;
}

footer{
    width: 100%;
    bottom: 0px;
}


@media all and (max-width: 655px){
    #logoSEP{
        display: none;
    }
    
    #logoIPN{
        float: left;
    }    
    
    form{
        display: none;
    }
    
    .texto #bienvenido{
        text-align: center;
    }
    

    #btnResponsive{
        display: block;
        float: right;
        margin-top: 10px;
        border-radius: 5px;
        background-color: rgb(108,29,69);
        border: 3px solid white;
        padding: 10px 40px;
        color: white;
        font-size: 20px;
    }   
    
    #imagen{
        margin: 0px auto;
        width: 80%;
        float: left;
        margin-left: 12%; 
        margin-top: -40px;
    }
}

@media all and (max-width: 329px){
    #logoIPN p{
        font-size: 14px;
    }
}

@media all and (orientation:landscape){
    #imagen{
        width: 400px;
        margin-left: 15%;
    }     
}

@media all and (width: 768px) and (height:1024px){
    footer{
        bottom: 0px;
        position: absolute;
    }
}

@media all and (width: 1024px) and (height:1366px){
   
    #imagen{
        float: left;
        margin-left: 22%;
    }
    
    #bienvenido{
        margin-top: 100px;
        padding: 250px 0 0 0;
    }
    
    #texto{
        font-size: 25px;
    }
    
    footer{
        bottom: 0px;
        position: absolute;
    }
}


@media all and (width: 1366px) and (height:1024px){
    
    footer{
        bottom: 0px;
        position: absolute;
    }
}
