/* 
    Created on : 20/11/2018, 01:38:29 AM
    Author     : Zeth
*/
#contenido{
    height: 650px;
}
form{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
}

input{
    width: 94%;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    background-color: #F2F2F2;
    color:  #848484;
    margin: 20px 0px 15px 0px;
}

#button {
    width: 100%;
    background-color: rgb(108,29,69);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0px 15px 0px;
}

hr{
    margin-bottom: 20px;
    margin-top: 20px;
}

.hiperlogin{
    padding: 10px;
}

#olvide{
    margin-top: 20px;
}

#caja{
    margin: 0px auto;
    width: 600px;
}

/*Estilos responsivos ára la pantalla de inicio*/

@media all and (max-width: 655px){
    #logoSEP{
        display: none;
    }
    
    #logoIPN{
        float: left;
    }    
    
    #imagen{
        width: 150px;
        margin: 5px auto;
    }
    
    h1{
        margin-top: 20px;
    }
    
    #contenido{
        margin-top: 0px;
    }
    
    #container-contenido{
        width: 100%;
    }
    
    #caja{
        width: 300px;
    }
    
    #contenido{
        height: 600px;
    }
    
    hr{
        color: white;
    }
    
    input{
        width: 225px;
    }
    
    form{
        margin-top: 30px;
    }
    
}

@media all and (max-width: 329px){
    #logoIPN p{
        font-size: 14px;
    }
}

@media all and (orientation:landscape){
    
}

@media all and (orientation:landscape) and (max-width: 518px){

}

@media all and (width: 768px) and (height:1024px){
    footer{
        bottom: 0px;
        position: absolute;
    }
}

@media all and (width: 1024px) and (height:1366px){
    footer{
        bottom: 0px;
        position: absolute;
    }
}


@media all and (width: 1366px) and (height:1024px){
    
    footer{
        bottom: 0px;
        position: absolute;
    }
}

