/* 
    Created on : 11/11/2018, 10:17:57 PM
    Author     : Zeth
*/
#barra {
    height: 70px;
    background: rgb(108,29,69);
}

#imagen{
    margin-top: 80px;
    width: 250px;
}

#contenido {
    margin-top: 120px;
    height: 600px;
}

#texto{
    margin: auto;
    width: 65%;
    height: 400px;
    background-color: white;
    overflow: auto;
    margin-top: 40px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #848484;
}

#parrafo{
    text-align: justify;
}

ul{
    margin-left: 45px;
}
