#contenido {
    height: 1050px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#fecha {
    width: 100px;
}

#editar {
    cursor: pointer;
    width: 15px;
}

#midiario {
    margin-top: 30px;
    text-align: center;
}

#diario {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 850px;
}

#hoja {
    padding: 20px;
    grid-column: 1/4;
    border: solid 1px #f6f6f6;
    border-radius: 10px;
}

#historial {
    grid-column: 4/8;
    padding: 20px;
}

.emogi {
    cursor: pointer;
    width: 50px;
    padding: 10px;
}

.emogi:hover {
    border-radius: 10px;
    background: #ccc;
}

#emogis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#feliz {
    margin: 0 auto;
    grid-column: 1;
}

#triste {
    margin: 0 auto;
    grid-column: 2;
}

#ansiedad {
    margin: 0 auto;
    grid-column: 3;
}

#estres {
    margin: 0 auto;
    grid-column: 4;
}

#ira {
    margin: 0 auto;
    grid-column: 5;
}

#boton {
    cursor: pointer;
    border: solid 1px rgb(108, 29, 69);
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background: rgb(108, 29, 69);
    color: white;
}

#boton:hover {
    background: #45122C;
}

#nueva_hoja {
    font-size: 25px;
    font-weight: bold;
}

.titulo {
    font-size: 20px;
    padding-top: 10px;
}

#intitulo {
    font-style: italic;
}

#em {
    padding-bottom: 10px;
}

input {
    font-size: 20px;
    border: solid 1px #ddd;
    outline: none;
    border-radius: 5px;
}

#areaTxt {
    font-size: 18px;
    width: 100%;
    border: solid 1px #ddd;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}


/* Fin de la hoja del diario */

#historial {
    border: solid 1px #f6f6f6;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#fecha2 {
    font-weight: bold;
}

.dias {
    margin-top: 20px;
    /*border: solid 1px;*/
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.dias::-webkit-scrollbar {
    display: none;
}

#escrito {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

#observacion {
    text-align: justify;
    margin-top: 20px;
    /*border: solid 1px;*/
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

#observacion::-webkit-scrollbar {
    display: none;
}

#escritoO {
    margin: 0 auto;
    width: 90%;
}

#titulo {
    font-size: 20px;
    font-style: italic;
}

#imagen_adjunta {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#fechaObser {
    font-weight: bold;
}


/* Insertar archivo adjunto al diario*/

#insertar_a {
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}

#n_archivo {
    margin-left: 10px;
}


/* ComboBox */

select {
    outline: none;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #ccc;
}